body {
  background-color: #f0f0f0;
  background-size: 150%;
}

h2 {
  color: #181818;
  text-align: center;
  font-size: 45px;
}

.header__bar {
    background-color: #181818;
    color: #FFF;
    text-align: center;
    font-size: 11px;
}

.section__container {
    backdrop-filter: blur(2px);
    border: 1px solid #181818;
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
  }

  .header__content p {
    font-size: 0.8rem;
    font-weight: 600;
    color: #181818;
    margin-bottom: 0.5rem;
    text-decoration: underline;
  }
  
  .header__content h1 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 2rem;
    color: #181818;
  }
  
  .header__content .btn {
    background-color: var(--text-dark);
    color: #181818;
  }
  
  .header__image {
    position: relative;
  }
  
  .header__image img {
    max-width: 390px;
    position: absolute;
    bottom: -5rem;
    right: 3rem;
  }

  .header__image2 {
    position: absolute;
    bottom: -0rem;
    left: 16rem;
  }

  .top__image {
    opacity: 0;
    transition: all 0.7s ease;
  }

  .top__image:hover {
    opacity: 1;
  }

  .header__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .btn {
    padding: 0.75rem 2rem;
    font-size: 0.8rem;
    text-decoration: none;
  }

  .latest__container img {
    max-width: 100%;
    display: block;
  }

  .latest__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 5rem;
    margin: 3%;
    padding: 3%;
  }

  .latest__content {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid #181818;
    border-radius: 5px;
    backdrop-filter: blur(2px);
    transition: all .2s ease-in-out;
  }

  .latest__content p {
    text-align: center;
    color: #181818;
    font-size: 16px;
  }

  .content__price {
    text-align: center;
    padding: 6%;
  }

  .latest__content a{
    text-decoration: none;
  }

  .latest__content:hover {
    transform: scale(1.1);
  }

  @keyframes show {
    from {
      opacity: 0;
      scale: 25%;
    }

    to {
      opacity: 1;
      scale: 100%;
    }
  }

  .latest__content, h2 {
    view-timeline-name: --content;
    view-timeline-axis: block;
    
    animation-timeline: --content;
    animation-name: show;

    animation-range: entry 25% cover 30%;
    animation-fill-mode: both;
  }

  @media (max-width: 610px){
    body {
      background-size: 200%;
    }

    header {
        margin-top: 0;
      }
    
      .header__container {
        grid-template-columns: repeat(1, 1fr);
      }
    
      .header__image {
        display: none;
      }
  }