body {
  background-color: #e7e7e7;
  background-image: url(/Media/Background/Night_City_Background.jpg);
  background-size: 100%;
}

.header__bar {
    background-color: #181818;
    color: #FFF;
    text-align: center;
    font-size: 11px;
}

.section__container {
    backdrop-filter: blur(2px);
    border: 1px solid #474545;
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
  }

  .header__content p {
    font-size: 0.8rem;
    font-weight: 600;
    color: #e7e7e7;
    margin-bottom: 0.5rem;
  }
  
  .header__content h1 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 2rem;
    color: #e7e7e7;
  }
  
  .header__content .btn {
    background-color: var(--text-dark);
    color: #e7e7e7;
  }
  
  .header__image {
    position: relative;
  }
  
  .header__image img {
    max-width: 450px;
    position: absolute;
    bottom: -5rem;
    right: 3rem;
  }

  .header__image2 {
    max-width: 300px;
    position: absolute;
    bottom: -0rem;
    left: 16rem;
  }

  .top__image {
    opacity: 0;
    transition: all 0.7s ease;
  }

  .top__image:hover {
    opacity: 1;
  }

  .header__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .btn {
    padding: 0.75rem 2rem;
    font-size: 0.8rem;
    text-decoration: none;
    background-color: #181818;
    border-radius: 15px;
  }

  @media (max-width: 610px){
    body {
      background-size: 200%;
    }

    header {
        margin-top: 0;
      }
    
      .header__container {
        grid-template-columns: repeat(1, 1fr);
      }
    
      .header__image {
        display: none;
      }
  }