body {
    background-color: #e7e7e7;
    background-image: url(/Media/Background/Cyberpunk.webp);
    background-size: 100%;
}

.products__content {
    border-radius: 15px;
    text-decoration: none;
    border: 1px solid #474545;
    margin: 1rem;
    padding: 3rem 2rem;
    text-align: center;
    backdrop-filter: blur(2px);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.products__content a {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

.products__content p {
    font-family: "Titillium Web", sans-serif;
    color: #e7e7e7;
    background-color: #181818;
    border-radius: 20px;
    padding: 1%;
    width: 30%;
    display: inline-block;
}

.products__content img {
    max-width: 300px;
    text-decoration: none;
}

.content {
    display: inline-block;
    border: 2px solid #474545;
    border-radius: 100px / 25px;
    padding: 1rem 1rem;
    margin-right: 2.5rem;
    vertical-align: middle;
    transition: all .2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.content:hover {
    transform: scale(1.1); 
}

@media (max-width: 610px){
    body {
      background-size: 355%;
    }
  }