body {
    background-color: #f0f0f0;
}

h2 {
    text-align: center;
    color: #181818;
    font-size: 45px;
    animation: splash 1s normal forwards ease-in-out;
}

h3 {
    text-align: center;
    color: #181818;
    font-size: 25px;
}

.products__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 5rem;
    margin: 3%;
    padding: 3%;
}

.products__content img {
    max-width: 100%;
    display: block;
}

.products__content a {
    text-decoration: none;
    color: #181818;
    text-align: center;
}

.products__content .content__price {
    color: #747070;
    font-size: 14px;
    text-align: center;
    padding: 4%;
  }

.products__content {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

.products__content:hover {
    transform: scale(1.1); 
}

@keyframes splash {
    from {
        opacity: 0;
        transform: scale(0, 0);
    }
    50% {
        opacity: 1;
        transform: scale(1.1, 1.1);
    }
    to {
        transform: scale(1, 1);
    }
}

@media (max-width: 610px) {
    body {
      background-size: 355%;
    }
  }